/*this imports .ttf font as separate file*/
@font-face {
	font-family: 'Induction';
	src: url(fonts/Qaddal-Personal-Use.otf);
}
/*------------------------------------------*/
body {
 	background-color: black;
 	overflow: scroll;
	scroll-snap-type: y mandatory;
 	scroll-snap-type: mandatory;
}

h1 {
	font-family: 'Induction', helvetica;
	color: red;
	font-size: 60px;
}

.release {
  height: 90vh;
  width: 90vw;
  scroll-snap-align: center;
  display: block;
  margin: 10vh 5vw;

}

.player {
	padding-left: 50%;
}
